{% extends 't/base2.html' %}


{% block content %}
      <br>
      <div class="blog-post rounded bg-light">
        <h2 class="blog-post-title">{{story.heading}} {% if user == story.author %}<a href="/whot/edit-article{{ story.id }}"><button class="btn btn-success">Edit</button></a>{% endif %}</h2>
        <p class="blog-post-meta">{{story.date}} by <a href="#">{{story.name}}</a></p>
        <br>
        
        <p>{{story.article_body|safe}}</p>

        </div><!-- /.blog-post -->

      

{% endblock %}
<!-- /.blog-post -->

