{% extends 't/base2.html' %}


{% block content %}

{% if user.is_authenticated %}
<form method="post">
{% csrf_token %}
<div class="form-group">
{{ form.as_p }}
</div>

<button class="form-control btn btn-success" type="submit" name="btnprof">Submit</button>

</form >

{% else %}


<form method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="first_name">Firstname</label>
    <input type="text" class="form-control" name="first_name">
    <small id="firstnameHelp" class="form-text text-muted">Your firstname</small>
  </div>
  <br>
  <div class="form-group">
    <label for="last_name">Lastname</label>
    <input type="text" class="form-control" name="last_name" aria-describedby="passwordHelp" placeholder="Enter email">
    <small id="last_nameHelp" class="form-text text-muted">Your firstname</small>
  </div>
  <br>
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" name="username" aria-describedby="passwordHelp" placeholder="Enter email">
    <small id="usernameHelp" class="form-text text-muted">Create a unique username</small>
  </div>
  <br>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <br>
  <div class="form-group">
    <label for="passwordc">Password</label>
    <input type="password" class="form-control" name="passwordc" placeholder="Password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary" name="btnreg">Submit</button>
</form>

{% endif %}
{% endblock %}
