{% extends "base.html" %}


{% block title %}
WHOTnews allpost
{% endblock title %}


{% block content %}
<!-- top storys div -->
<div class="pt-5">
	<div class="row ">
		{% for each in allnews  %}
			<div class="col-12 col-sm-6 col-md-4 col-xl-3" style="">
				<!-- Blog post-->
				<div class="card mb-4 my-5 " ><a href="/news/{{ each.id }}"><img class="card-img-top" height="200px"
							src="{{ each.article_img }}" alt="{{ each.heading }}" /></a>
					<div class="card-body">
						<div class="small text-muted">{{ each.date }}</div>
						<h2 class="card-title h4">{{ each.heading }}</h2>
						<p class="card-text">{{ each.content |safe | truncatewords:25 }}</p><a class="btn btn-danger" href="/news/{{ each.id }}">Read more
							→</a>
					</div>
				</div>
				
			</div>
			{% empty %}
			<div class="alert alert-danger">No content</div>
			{% endfor %}
		</div>
	{% comment %} {% for each in allnews %}
	<div>
		<h5>
			<a href="/news/{{ each.id }}" style="color: forestgreen;">{{each.heading}}</a>
		</h5>

		<p style="font-weight: 500;">
			{{ each.content |truncatewords:45 | safe }}
		</p>
	</div>
	{% endfor %} {% endcomment %}

	<div class="nav">
		<span class="">
			{% if allnews.has_previous %}
			<a class="btn btn-info" href="?page=1">&laquo; first</a>
			<a class="btn btn-info" href="?page={{ allnews.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ allnews.number }} of {{ allnews.paginator.num_pages }}.
			</span>
			{% if allnews.has_next %}
			<a class="btn btn-info" href="?page={{ allnews.next_page_number }}">next</a>
			<a class="btn btn-info" href="?page={{ allnews.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>

{% endblock content %}