{% extends "base.html" %}
{% load static %}

{% block title %}
{{ newscontent.heading }}
{% endblock title %}

{% block content %}
<!-- top storys div -->
<div>
	<div class="px-3">
		<div class="row">
			<div class="col-10">
				<h1 style="font-size: 28px; font-weight:600; color:darkred">{{ newscontent.heading }}</h1>
			</div>
			<div class="col-2">
				<audio onclick="" src="#"  >play</audio>
			</div>
		</div>
		<div>
			{% if newscontent.article_img %}
			<img src='{{ newscontent.article_img }}' width="50%" alt="{{ newscontent.heading }}">
			{% else %}
			<img src='{% static "logo.png" %}' width="50%" alt="whotnews icon">
			{% endif %}
		</div>
		<div class="py-4" style="font-size: 20px; font-weight:450; color:black">
			<p >{{ newscontent.content | safe }}</p>
		</div>
		<div class=" d-flex justify-content-end">
			{% if newscontent.source %}
			<a href="{{ each.source_url }}">
				<img src='/static/{{ newscontent.source }}' height="60" alt="{{ newscontent.source }}">
			</a>
			{% else %}
			<img src='{% static "logo.png" %}' height="60" alt="whotnews icon">
			{% endif %}
		</div>
	</div>
	<form method='post' class="form-inline my-0 my-lg-0">
		{% csrf_token %}

		<textarea name="body" rows="4" cols="30" spellcheck="true" ></textarea>
		<button class="btn btn-outline-success my-2 my-sm-0" name="comment" type="submit">Submit</button>
	</form>
	{% for each in newscomment %}
	<div class="border border-danger">
		<h6 class="border alert-danger">{{ each.us }}</h6>
		<p class="">{{ each.body }}</p>
		<span>{{ each.time }}</span>
	</div>
	{% endfor %}


</div>

{% endblock content %}